@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;1,900&display=swap');

* {

    margin: 0;
    padding: 0;
    top: 0;
    box-sizing: border-box;
    
}

body {

    background-image: url('https://wallpaperaccess.com/full/2170243.jpg');
    background-repeat: no-repeat;
    height: 2150px;
    width: auto;
    z-index: 1;
   
}

.titulo {

    font-family: 'Montserrat', sans-serif;    
    color: blanchedalmond;
    font-size: 78px;
    text-shadow: 10px 10px 10px #000000 / 80%;
    padding: 20px 0 20px 40px;
    position: absolute;
    top: 20px;
    height: 150px;
    z-index: 100;

}

.subtitulo {

    font-family: 'Playfair Display', serif;
    color: blanchedalmond;
    background-color: #000000a4;
    font-size: 30px;
    text-shadow: 3px 3px 3px #000000 / 100%;
    padding: 130px 30px 30px 30px;
    text-align: center;
    position: absolute;
    top: 15px;
    width: auto;
    z-index: 2;

}

.texto {
   
    background-color: #ffebcd;
    height: auto;
    width: 600px;
    position: absolute;
    text-align: justify;
    padding: 30px;
    top: 350px;
    left: 30px;
    color: #333;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    border-radius: 15px;
   
}

.video {

    left: 30px;
    top: 700px;
    position: absolute;
    
}

.lista {
   
    margin-top: 20px;
    background-color: #ffebcd;
    height: auto;
    width: 600px;
    position: absolute;
    text-align: justify;
    padding: 30px;
    top: 1470px;
    left: 30px;
    color: #333;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    border-radius: 15px;
   
}

.lista h1 {

color: mediumblue;

}

.lista li {
   
    margin-top: 20px;
 
}

.footer {

    background-color: #000000;
    height: 120px;
    width: auto;
    position: relative;
    top: 2100px;
    color: ivory;
    padding: 40px;
      
}

.social {

    padding: 10px;
    position: relative;
    left: 70%;
    top: 2002px;
    color: ivory;
   
}

.icon {

    padding: 1px;
    position: relative;
    left: 70%;
    top: 2018px;
    
}